{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'carsmaincategory/css/css.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'carsmaincategory/img/zaz_lanos.svg' %}">
</head>
<body>
{% include 'carsmaincategory/includes/hyperlinks.html' %}
{% for i in db %}
    {% if i.slug == car_slug %}
<p>Car: {{ i.title }}</p>
<p>Year: {{ i.year }}</p>
<p>Further information: {{ i.content }}</p>
<p><a href="#">Up to top</a></p>
<p><a href="#">Up to bottom</a></p>
    {% endif %}
{% endfor %}
</body>
</html>