{% load static %}
{% load category_tags %}
{% cat1 as cat_db %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'carsmaincategory/css/css.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'carsmaincategory/img/zaz_lanos.svg' %}">
</head>
<body>
{% include 'carsmaincategory/includes/hyperlinks.html' %}
<p><h1>Categories:</h1></p>
{% for i in cat_db %}
<li>
    {{ i.title }}
</li>
{% endfor %}
</body>
</html>