{% load static %}
{% load category_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'carsmaincategory/css/css.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'carsmaincategory/img/zaz_lanos.svg' %}">
</head>
<body>
{% include 'carsmaincategory/includes/hyperlinks.html' %}
{% cat1 as cat %}
{% for j in cat %}
{% if j.slug == cat_slug %}
{% for i in db %}
{% if i.cat_id == j.pk %}
    {% if i.is_published %}
        <p>     Car: {{ i.title }}</p>
        <p>     Year: {{ i.year }}</p>
        <p><a href="{{ i.get_absolute_url }}"><h3>further information</h3></a></p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</body>
</html>