{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'carsmaincategory/includes/hyperlinks.html' %}
{% endblock %}

{% block main %}
<div id="index_main">
    {% for i in db %}
    {% if i.cat.slug == cat_slug %}
    <a href="{{ i.get_absolute_url }}" style="text-decoration: none;">
    <img src="{% static 'carsmaincategory/img/zaz_lanos.svg' %}" alt="{{ i.title }}">
    <div class="des_cars">{{ i.title }} {{ i.year }}</div>
    <div style="margin-bottom: 1%; color:black;"><b style="color: green; font-size: 1.5em; margin-left: 25%;">$$$$</b> • probeg • city</div>
    </a>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}