{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'carsmaincategory/includes/hyperlinks.html' %}
{% endblock %}

{% block main %}
<form action="/" method="POST" style="width: 100%; height: 600px;">
    {% csrf_token %}
    <p><label for="id_1">Текст: </label><input type="text" id="id_1" name="field_text"></p>
    <p><label for="id_2">Пароль: </label><input type="password" id="id_2" name="field_psw"></p>
    <p><button>Зареєструватись</button> </p>
    <progress>Загружено на 10%</progress>
</form>
{% endblock %}