{% load static %}
{% load category_tags %}
{% cat1 as cat_db %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'carsmaincategory/css/css.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'carsmaincategory/img/zaz_lanos.svg' %}">
</head>
<body>
{% block content %} {% endblock %}
{% block main %} {% endblock %}
<div id="footer">
    <ul class="footer_main_left">
        <li class="footer_li"><a href="https://auto.ria.com/uk/car/used/">Вживані авто</a></li>
        <li class="footer_li"><a href="https://auto.ria.com/uk/newauto/">Нові авто</a></li>
        <li class="footer_li"><a href="https://agro.ria.com/">Сільгосптехніка</a></li>

    </ul>
    <ul class="footer_main_right"> 
        <li class="footer_li"><a href="https://auto.ria.com/uk/autoservice/sto/">Послуги для авто</a></li>
        <li class="footer_li"><a href="https://auto.ria.com/uk/all_for_auto/">Сервіси</a></li>
        <li class="footer_li"><a href="https://auto.ria.com/uk/news/">Новини</a></li>
    </ul>
    <a href="{% url 'home' %}"><img src="{% static 'carsmaincategory/img/zaz_lanos.svg' %}" alt="lanos.com" id="lanos_icon"></a>
</div>
</body>
</html>