{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'carsmaincategory/css/css.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'carsmaincategory/img/zaz_lanos.svg' %}">
</head>
<body>
{% block content %} {% endblock %}
<h1>Head page</h1>
<ul>
{% for i in db_data %}
    {% if i.is_published %}
        <p>     Car: {{ i.car }}</p>
        <p>     Year: {{ i.year }}</p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
</body>
</html>